$white-1: #edebd9;
$white: #ffffff;
$black: #000000;
$dark-yellow: #fec20f;
$light-yellow: #fccf17;
$light-blue: #00848c;
$dark-blue: #037272;
$navy-blue: #1c1f4c;

// shadow
$shadow-25: rgba(0, 0, 0, 0.25);
